segformer_mit-b5_512x512_160k_ade20k.pdparams filter=lfs diff=lfs merge=lfs -text
SETR_PUP_cityscapes_b8_40k.pdparams filter=lfs diff=lfs merge=lfs -text
vit_large_patch16_224.pdparams filter=lfs diff=lfs merge=lfs -text
